[submodule "extensions/a1111-sd-webui-tagcomplete"]
	path = extensions/a1111-sd-webui-tagcomplete
	url = https://github.com/DominikDoom/a1111-sd-webui-tagcomplete.git
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer
[submodule "extensions/sd-civitai-browser-plus"]
	path = extensions/sd-civitai-browser-plus
	url = https://github.com/BlafKing/sd-civitai-browser-plus.git
[submodule "extensions/sd-forge-couple"]
	path = extensions/sd-forge-couple
	url = https://github.com/Haoming02/sd-forge-couple
[submodule "extensions/sd-webui-infinite-image-browsing"]
	path = extensions/sd-webui-infinite-image-browsing
	url = https://github.com/zanllp/sd-webui-infinite-image-browsing.git
[submodule "extensions/sd-webui-hires-fix-tweaks"]
	path = extensions/sd-webui-hires-fix-tweaks
	url = https://github.com/w-e-w/sd-webui-hires-fix-tweaks.git
